language: java
jdk:
  - openjdk7
  - oraclejdk8
before_install:
    - cp ./etc/settings.xml ~/.m2/
    - cp ./etc/onFailure.sh  ~/
    - cp ./etc/logging.properties  ~/
    - chmod 777 ~/onFailure.sh
    - git submodule update --init --recursive
    - git submodule foreach git pull origin master
script:
    - mvn -B clean verify
after_failure: ~/onFailure.sh
after_script:
    - mvn -B cobertura:cobertura coveralls:report
notifications:
  email: false
  irc:
    channels:
            - chat.freenode.net#lightblue
    on_success: always

sudo: false
